<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-info my-navbar">
         <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pie-chart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
             <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
         </svg>
         <a class="navbar-brand title-heading" href="#">Aqua<span style="letter-spacing:2px">BLOGS</span></a>


          <div id="flex2" class="navbar-nav ml-auto "  >

              <li >
                <a class="nav-link" href="/blogs">Home</a>
              </li>

          </div>

         </nav>

         <div class="container my-container">
               <div class="my-image "> <img src=" /me.jpg "></div>

               <div class="content bg-info">
               <div class="inner-content"><p >
               <div class="abouthead"><h1 >About Me</h1></div>
               <p>Hi there! I'm Ankur.</p>
<p>Thank you for visiting AquaBlogs, my first backend project built with NodeJs and MongoDb database.</p>

<p>"If you can do what you do best and be happy, you're further along in life than most people."-Leonardo DiCaprio.
A speech and quote which I am a firm believer of. To start with myself, I am a dedicated student pursuing Btech with a insatiable fascination
for technology. I am a passionate programmer, who loves to code. I can say I'm pretty confident and proficient in
programming languages like C, java, Python and javascript.Apart from tech domain I love to draw and find myself immersed
in design and art.Life is short and we must make the most of it. Thus I will continue to stir myself with skills
and knowledge, as there is so much yet to learn.</p>

<p style="font-family: 'Josefin Sans', sans-serif;font-size:120%;">Reach out to Me : ankursahamoto@gmail.com</p>
                 </p></div>

               </div>

         </div>




</body>
</html>